body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(to left bottom, lightgreen , lightblue);
    font-family: monospace , sans-serif;
    color: rgb(255, 255, 255);
}
.container{
    background-color: rgbz(255,255,255,0.3);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(195, 167, 191, 0.3);
    width: 90%;
    height: 100%;
    max-width: 500px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading{
    font-size: 38px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.temp-container{
    width: 100%;
    padding: 15px;
    font-weight: bold;
    font-size: 20px
}
input{
    width: 220px;
    height: 20px;
    float: right;
    font-family: monospace;
    outline: none;
    background: rgba(255,255,255,0.3);
    border-color:  rgba(255,255,255,0.6);
    color: rgb(255, 255, 255);
    font-size: 13px;
}
input::placeholder{
    color: rgb(255, 255, 255);
}